<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collageprogram.core.mapper.TReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.collageprogram.core.entity.TReport">
        <id column="uid" property="uid" />
        <result column="teamuid" property="teamuid" />
        <result column="participants" property="participants" />
        <result column="fund" property="fund" />
        <result column="begin_date" property="beginDate" />
        <result column="end_date" property="endDate" />
    </resultMap>
    <update id="changeCon" parameterType="com.collageprogram.core.entity.TTeam">
        update t_team set t_team.con=1 where t_team.uid=#{teamid}
    </update>
    <update id="changeCon1" parameterType="java.lang.String">
        update t_team set t_team.con=1 where t_team.uid=#{treamid}
    </update>

</mapper>
